fa-icon {
    color: white;
    width: 40px;
    height: 40px;
}
.icon {
    text-align: center;
}
h1 {
    color: white;
    font-family: 'montserrat';
    font-style: italic;
    text-align: center;
}
h4 { 
    color: white;
    font-family: 'montserrat';
    text-align: center;
}
a {
    color: black;
    font-family: 'montserrat';
    font-style: bold;
    text-decoration: none;
}
.p {
    text-align: center;
    background-color: aqua;
    width: 150px;
    margin: 0 auto ;
    padding: 10px 10px 10px 10px;
}