/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
* {
  scroll-behavior: smooth;
}


.bg-img {
  background-image: url('./app/img/main.jpg');
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.bg-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  background: #1c1d21;
}

