<!-- 

<form (submit)="onRegisterSubmit()">
        <h3>Register :</h3>
    <div class="form-group">
      <label >Name</label>
      <input type="text" class="form-control" [(ngModel)]="name" name="name"  placeholder="Type your name">
      
    </div>
    <div class="form-group">
        <label >Username</label>
        <input type="text" class="form-control" [(ngModel)]="username" name="username"  placeholder="Type your Username">
        
      </div>
      <div class="form-group">
        <label >Email</label>
        <input type="text" class="form-control" [(ngModel)]="email" name="email" placeholder="Type your name">
        
      </div>
      <div class="form-group">
        <label >Password</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Type your Password">
        
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="go">
            <p>or</p>
            
              <h2 class="fce"><a href="#">Login with Facebook</a></h2>
            <h2 class="gg"> <a href="#">Login with Google+</a>  </h2>
          
            
        </div>
    
  </form> -->
  <form (submit)="onRegisterSubmit()" *ngIf="!authservices.display()" class="form" [formGroup]="myForm">

    <h2>Register :</h2>

    <h3>Name  </h3>

    <mat-form-field >   
        <input [(ngModel)]="name" name="name" type="text" matInput placeholder="Type your name" formControlName="name">
          <mat-error *ngIf="name1.invalid && name1.touched ">
              Please enter a valid name 
          </mat-error>
    </mat-form-field>

   <h3>Username  </h3>

    <mat-form-field >
        <input [(ngModel)]="username" name="username"  type="text" matInput placeholder="Type your username" formControlName="username">
          <mat-error *ngIf="username1.invalid && username1.touched ">
              Please enter a valid username
          </mat-error>
    </mat-form-field>

    <h3>Email  </h3>

    <mat-form-field >
          <input [(ngModel)]="email" name="email" type="text" matInput placeholder="Type your email" formControlName="email">
            <mat-error *ngIf="email1.invalid && email1.touched ">
                Please enter a valid email
            </mat-error>
    </mat-form-field>
        
    <h3>Password  </h3>

    <mat-form-field >    
      <input [(ngModel)]="password" name="password" type="password" matInput placeholder="Type your password" formControlName="password">
        <mat-error *ngIf="password1.invalid && password1.touched ">
            Please enter a valid password "six characters at least"
        </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Submit</button>
    <br>
    
        <span class="or">Or</span>
    <div class="orlogin">
      <h1 class="fce"><a href="#">Login with Facebook</a> </h1>
      <h1 class="gg"> <a href="#">Login with Google+</a> </h1>
    </div>

  </form>
  <mat-error class="loginerr" *ngIf="authservices.display()" >You can't register because you are already logged in  </mat-error>