
textarea {
    display: block;
    margin-top: 10px;
    color: black;
    width: 50%;
    margin-left: 25%;
    border: #eee 1px solid;
    border-radius: 4px;
    box-shadow: 0 2px 4px -1px #eee;
    margin-bottom: 50px;
}

input {
    height: 40px;
    margin-top: 15vh;
    width: 50%;
    margin-left: 25%;
    border: #eee 1px solid;
    border-radius: 4px;
    box-shadow: 0 2px 4px -1px #eee;
}

button {
    width: 120px;
    margin-top: 0px;
    margin-bottom: 2rem;
    margin-left: 47%;
    padding: 5px;
    border:  #7971ea solid 1px;
    border-radius: 10px;
    background-color: #7971ea;
}
h5 {
    color: red;
    
}
