p {
    font-family: 'Courier New', Courier, monospace;
    color: White;
    font-size: 18px;
}

h1 {
    color: white;
}
textarea {
    display: block;
    margin-top: 5px;
}
button {
    color: black;
}